/* ________________________F O N T S_________________________ */

/* #region FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* #endregion FONTS */

/* _______________________H E A D E R________________________ */

/* #region HEADER */

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #c1c7cd;
}

header .d-flex {
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

header .d-flex .ul {
  display: flex;
  gap: 22px;
}

header .d-flex .ul a:active {
  background: transparent;
  color: #455a64;
}

header .d-flex .ul a {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

header .d-flex .ul .dropdown-center button {
  padding: 0;
  line-height: 100%;
  background: transparent;
  color: #000;
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

header .d-flex .ul .dropdown-center button:active {
  color: #000;
}

header .d-flex .ul .dropdown-center ul {
  min-width: 95px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

header .d-flex .ul .dropdown-center .dropdown-menu.show {
  top: 5px;
  display: flex;
}

header .d-flex .ul .dropdown-center ul li {
  width: 100%;
}

header .d-flex .ul .dropdown-center ul li a {
  padding: 0;
  width: 100%;
}

.btn-primary {
  padding: 2px;
  border: none;
  transition: all 0.3s;
  display: none;
  background-color: transparent;
  border-radius: 8px;
}

:not(.btn-check) + .btn:active {
  background-color: transparent;
  border-color: #000;
}

:not(.btn-check) + .btn:active svg path {
  fill: #000;
}

.btn-primary:hover {
  background-color: transparent;
}

.btn-primary svg path {
  fill: #000;
}

.btn-primary svg {
  transition: all 0.3s;
}

.btn-primary svg path {
  transition: all 0.3s;
}

#offcanvasRight {
  width: 270px;
}

.btn-close {
  box-shadow: none;
}

header .offcanvas-body nav ul {
  flex-direction: column;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn-close:focus {
  box-shadow: none;
}

@media (max-width: 450px) {
  .btn-primary {
    display: flex;
  }

  header .d-flex nav {
    display: none;
  }

  header .offcanvas-body nav {
    display: block;
  }
}

/* #endregion HEADER */

/* _________________________H E R O__________________________ */

/* #region HERO */

.hero {
  background: linear-gradient(239deg, #1caef8 -2.26%, #1c2792 96.93%);
  padding: 160px 0 80px 0;
}

.hero .d-flex {
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.hero .d-flex .img img {
  width: 100%;
}

.hero .d-flex .item {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero .d-flex .item .text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero .d-flex .item .text h1 {
  font-size: calc(25px + 1.8vw);
  color: #fff;
  font-weight: bold;
}

.hero .d-flex .item .text h1 span {
  margin-top: 8px;
  font-size: calc(20px + 1.4vw);
  color: #fff;
  font-weight: bold;
}

.hero .d-flex .item .text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.link {
  width: 100%;
  max-width: 172px;
}

.link a {
  width: 100%;
  max-width: 172px;
  display: flex;
  height: 56px;
  padding: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #fdb614;
  background: #fdb614;
  transition: all 0.3s;
}

.link a:hover {
  background: transparent;
  color: #fdb614;
}

@media (max-width: 900px) {
  .hero .d-flex {
    flex-direction: column;
    gap: 40px;
  }

  .hero .d-flex .item {
    align-items: center;
    text-align: center;
  }
}

/* #endregion HERO */

/* __________________________T W O___________________________ */

/* #region TWO */

.case-studies {
  padding: 80px 0;
}

.case-studies .row {
  row-gap: 30px;
  justify-content: center;
}

.case-studies .container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.case-studies .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.case-studies .text h5 {
  color: #001d6c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.case-studies .text h2 {
  font-size: calc(20px + 1.4vw);
  font-weight: bold;
}

.case-studies .row .item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.case-studies .row .item .img img {
  width: 100%;
}

.case-studies .row .item .box-text {
  width: 100%;
  border: 1px solid #dde1e6;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.case-studies .row .item .box-text .text {
  gap: 16px;
  display: flex;
  padding: 24px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.case-studies .row .item .box-text .text h5 {
  color: #000;
}

.case-studies .row .item .box-text .text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #21272a;
}

.case-studies .row .item .box-text .more-info {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
}

.case-studies .row .item .box-text .more-info a {
  color: #1b45b4;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  transition: all 0.3s;
}

.case-studies .row .item .box-text .more-info a:hover {
  color: #0f62fe;
}

.case-studies .link {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 172px;
}

.case-studies .link a {
  width: 100%;
  max-width: 172px;
}

.case-studies .link a:hover {
  background: #f1ce7c;
  border: 2px solid #000;
  color: #000;
}

/* #endregion TWO */

/* ________________________T H R E E_________________________ */

/* #region THREE */

.our-clients {
  background: linear-gradient(270deg, #454142 0.05%, #1c2792 99.95%);
  padding: 80px 0;
}

.our-clients .item {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  gap: 16px;
}

.our-clients .item p {
  color: #fff;
  font-size: calc(15px + 0.155vw);
  font-style: normal;
  font-weight: 400;
}

.our-clients .item h3 {
  color: #fdb614;
  font-size: calc(18px + 0.6vw);
  font-style: normal;
  font-weight: 700;
}

/* #endregion THREE */

/* _________________________F O U R__________________________ */

/* #region FOUR */

.proficiency {
  padding: 80px 0;
}

.proficiency .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  gap: 8px;
}

.proficiency .text h5 {
  color: #001d6c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.proficiency .text h2 {
  font-size: calc(20px + 1.4vw);
  font-weight: bold;
}

.proficiency .row {
  justify-content: center;
  row-gap: 30px;
}

.proficiency .row .item {
  width: 100%;
  max-width: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.proficiency .row .item p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* #endregion FOUR */

/* _________________________F I V E__________________________ */

/* #region FIVE */

.awards {
  padding: 80px 0;
  background: linear-gradient(270deg, #454142 0.02%, #1c2792 100.81%);
}

.awards ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 760px) {
  .awards ul {
    justify-content: center;
  }
}

/* #endregion FIVE */

/* __________________________S I X___________________________ */

/* #region SIX */

.form {
  padding: 144px 0 80px 0;
}

.form .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
}

.form .text h5 {
  color: #001d6c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.form .text h2 {
  font-size: calc(20px + 1.4vw);
  font-weight: bold;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form form div input,
.form form div select,
.form form div textarea {
  width: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  background: #f2f4f8;
  color: #697077;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  outline: none;
  border: none;
  border-bottom: 1px solid #c1c7cd;
}

.form form div label {
  color: #21272a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.form form div input,
.form form div select {
  height: 48px;
}

.form form div select {
  appearance: none;
}

.form form .select-box {
  position: relative;
}

.form form .select-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.071 13.314L17.021 8.364C17.1133 8.26849 17.2236 8.19231 17.3456 8.1399C17.4676 8.08749 17.5988 8.05991 17.7316 8.05875C17.8644 8.0576 17.9961 8.0829 18.119 8.13318C18.2419 8.18346 18.3535 8.25772 18.4474 8.35161C18.5413 8.4455 18.6156 8.55715 18.6658 8.68005C18.7161 8.80295 18.7414 8.93463 18.7403 9.06741C18.7391 9.20018 18.7115 9.3314 18.6591 9.45341C18.6067 9.57541 18.5305 9.68576 18.435 9.778L12.778 15.435C12.5905 15.6225 12.3362 15.7278 12.071 15.7278C11.8059 15.7278 11.5515 15.6225 11.364 15.435L5.70702 9.778C5.61151 9.68576 5.53533 9.57541 5.48292 9.45341C5.43051 9.3314 5.40292 9.20018 5.40177 9.06741C5.40062 8.93463 5.42592 8.80295 5.4762 8.68005C5.52648 8.55715 5.60073 8.4455 5.69463 8.35161C5.78852 8.25772 5.90017 8.18346 6.02307 8.13318C6.14596 8.0829 6.27764 8.0576 6.41042 8.05875C6.5432 8.05991 6.67442 8.08749 6.79643 8.1399C6.91843 8.19231 7.02877 8.26849 7.12102 8.364L12.071 13.314Z' fill='%23697077'/%3E%3C/svg%3E");
  z-index: 999;
  width: 24px;
  height: 24px;
  cursor: pointer;
  pointer-events: none;
}

.form form div textarea {
  padding: 12px 16px;
  height: 96px;
}

.form form button {
  width: 100%;
  max-width: 172px;
  display: flex;
  height: 56px;
  padding: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #fdb614;
  background: #fdb614;
  transition: all 0.3s;
}

.form form button:hover {
  background: #f1ce7c;
  border: 2px solid #000;
}

/* #endregion SIX */

/* _______________________F O O T E R________________________ */

/* #region FOOTER */

footer {
  background-color: #454142;
}

footer .container {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}

/* #endregion FOOTER */
