// #region import

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./bootstrap.css);
@import url(./grid-s.css);

// #endregion import

// #region basics

@mixin d-flex($align_items, $justify_content, $direction, $wrap) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// #endregion basics

// #region HEADER

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #c1c7cd;

  .d-flex {
    height: 72px;
    @include d-flex(center, space-between, row, wrap);

    .ul {
      display: flex;
      gap: 22px;

      a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;

        &:active {
          background: transparent;
          color: #455a64;
        }
      }
    }

    .btn-primary {
      padding: 2px;
      border: none;
      transition: all 0.3s;
      display: none;
      background-color: transparent;
      border-radius: 8px;
      svg {
        transition: all 0.3s;

        path {
          fill: #000;
          transition: all 0.3s;
        }
      }

      &:hover {
        background-color: transparent;
      }
    }

    #offcanvasRight {
      width: 270px;

      .btn-close {
        box-shadow: none;

        &:focus {
          box-shadow: none;
        }
      }

      nav ul {
        flex-direction: column;
      }

      .offcanvas-body {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
    }

    @media (max-width: 450px) {
      .btn-primary {
        display: flex;
      }

      nav {
        display: none;
      }

      .offcanvas-body nav {
        display: block;
      }
    }
  }
}

// #endregion HEADER

// #region HERO

.hero {
  background: linear-gradient(239deg, #1caef8 -2.26%, #1c2792 96.93%);
  padding: 160px 0 80px 0;

  .d-flex {
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    .img img {
      width: 100%;
    }

    .item {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 64px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 48px;

        h1 {
          font-size: calc(25px + 1.8vw);
          color: #fff;
          font-weight: bold;

          span {
            margin-top: 8px;
            font-size: calc(20px + 1.4vw);
            color: #fff;
            font-weight: bold;
          }
        }

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          color: #fff;
        }
      }

      .link {
        width: 100%;
        max-width: 172px;

        a {
          width: 100%;
          max-width: 172px;
          display: flex;
          height: 56px;
          padding: 16px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 2px solid #fdb614;
          background: #fdb614;
          transition: all 0.3s;

          &:hover {
            background: transparent;
            color: #fdb614;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .d-flex {
      flex-direction: column;
      gap: 40px;
    }

    .d-flex .item {
      align-items: center;
      text-align: center;
    }
  }
}

// #endregion HERO

// #region studies

.case-studies {
  padding: 80px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 8px;

      h5 {
        color: #001d6c;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
      }

      h2 {
        font-size: calc(20px + 1.4vw);
        font-weight: bold;
      }
    }

    .row {
      row-gap: 30px;
      justify-content: center;

      .item {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        .img img {
          width: 100%;
        }

        .box-text {
          width: 100%;
          border: 1px solid #dde1e6;
          border-top: none;
          border-radius: 0 0 8px 8px;

          .text {
            gap: 16px;
            display: flex;
            padding: 24px 16px 16px 16px;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;

            h5 {
              color: #000;
            }

            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              color: #21272a;
            }
          }

          .more-info {
            display: flex;
            padding: 16px;
            align-items: center;
            gap: 16px;

            a {
              color: #1b45b4;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              transition: all 0.3s;

              &:hover {
                color: #0f62fe;
              }
            }
          }
        }
      }
    }

    .link {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 172px;

      a {
        width: 100%;
        height: 56px;
        max-width: 172px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        @include d-flex(center, center, row, wrap);
        border: 2px solid #fdb614;
        background: #fdb614;
        border-radius: 8px;
        transition: all 0.3s;

        &:hover {
          background: #f1ce7c;
          border: 2px solid #000;
          color: #000;
        }
      }
    }
  }
}

// #endregion studies

// #region clients

.our-clients {
  background: linear-gradient(270deg, #454142 0.05%, #1c2792 99.95%);
  padding: 80px 0;

  .item {
    max-width: 900px;
    @include d-flex(center, center, row, wrap);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    gap: 16px;

    p {
      color: #fff;
      font-size: calc(15px + 0.155vw);
      font-style: normal;
      font-weight: 400;
    }

    h3 {
      color: #fdb614;
      font-size: calc(18px + 0.6vw);
      font-style: normal;
      font-weight: 700;
    }
  }
}

// #endregion clients

// #region proficiency

.proficiency {
  padding: 80px 0;

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    gap: 8px;

    h5 {
      color: #001d6c;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    h2 {
      font-size: calc(20px + 1.4vw);
      font-weight: bold;
    }
  }

  .row {
    justify-content: center;
    row-gap: 30px;

    .item {
      width: 100%;
      max-width: 276px;
      @include d-flex(center, flex-start, column, wrap);
      text-align: center;
      gap: 16px;
      margin-left: auto;
      margin-right: auto;

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

// #endregion proficiency

// #region awards

.awards {
  padding: 80px 0;
  background: linear-gradient(270deg, #454142 0.02%, #1c2792 100.81%);

  ul {
    @include d-flex(center, space-between, row, wrap);
    gap: 30px;
  }

  @media (max-width: 760px) {
    ul {
      justify-content: center;
    }
  }
}

// #endregion awards

// #region form

.form {
  padding: 144px 0 80px 0;

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;

    h5 {
      color: #001d6c;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    h2 {
      font-size: calc(20px + 1.4vw);
      font-weight: bold;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      input,
      select,
      textarea {
        width: 100%;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        background: #f2f4f8;
        color: #697077;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        outline: none;
        border: none;
        border-bottom: 1px solid #c1c7cd;
      }

      label {
        color: #21272a;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }

      input,
      select {
        height: 48px;
      }

      .select-box {
        position: relative;

        select {
          appearance: none;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translate(0, -50%);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.071 13.314L17.021 8.364C17.1133 8.26849 17.2236 8.19231 17.3456 8.1399C17.4676 8.08749 17.5988 8.05991 17.7316 8.05875C17.8644 8.0576 17.9961 8.0829 18.119 8.13318C18.2419 8.18346 18.3535 8.25772 18.4474 8.35161C18.5413 8.4455 18.6156 8.55715 18.6658 8.68005C18.7161 8.80295 18.7414 8.93463 18.7403 9.06741C18.7391 9.20018 18.7115 9.3314 18.6591 9.45341C18.6067 9.57541 18.5305 9.68576 18.435 9.778L12.778 15.435C12.5905 15.6225 12.3362 15.7278 12.071 15.7278C11.8059 15.7278 11.5515 15.6225 11.364 15.435L5.70702 9.778C5.61151 9.68576 5.53533 9.57541 5.48292 9.45341C5.43051 9.3314 5.40292 9.20018 5.40177 9.06741C5.40062 8.93463 5.42592 8.80295 5.4762 8.68005C5.52648 8.55715 5.60073 8.4455 5.69463 8.35161C5.78852 8.25772 5.90017 8.18346 6.02307 8.13318C6.14596 8.0829 6.27764 8.0576 6.41042 8.05875C6.5432 8.05991 6.67442 8.08749 6.79643 8.1399C6.91843 8.19231 7.02877 8.26849 7.12102 8.364L12.071 13.314Z' fill='%23697077'/%3E%3C/svg%3E");
          z-index: 999;
          width: 24px;
          height: 24px;
          cursor: pointer;
          pointer-events: none;
        }
      }

      textarea {
        padding: 12px 16px;
        height: 96px;
      }
    }

    button {
      width: 100%;
      max-width: 172px;
      display: flex;
      height: 56px;
      padding: 16px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #fdb614;
      background: #fdb614;
      transition: all 0.3s;

      &:hover {
        background: #f1ce7c;
        border: 2px solid #000;
      }
    }
  }
}

// #endregion form

// #region FOOTER

footer {
  background-color: #454142;

  .container {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      text-align: center;
      font-weight: 400;
    }
  }
}

// #endregion FOOTER
