// #region import

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./bootstrap.css);
@import url(./basics.css);

// #endregion import

// #region basics

@mixin d-flex($align_items, $justify_content, $direction, $wrap) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// #endregion basics

// #region HEADER

header {
  border-bottom: 1px solid #dde1e6;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;

  .d-flex {
    @include d-flex(center, space-between, row, wrap);
    height: 80px;

    .ul {
      display: flex;
      gap: 22px;

      a {
        color: #455a6499;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }

      a:active {
        background: transparent;
        color: #455a64;
      }

      .Active {
        color: #455a64;
      }

      .dropdown-center {
        button {
          padding: 0;
          line-height: 100%;
          background: transparent;
          color: #455a6499;
          border: 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
        }

        button:active {
          color: #455a64;
        }

        ul {
          min-width: 95px;
          padding: 10px;
          flex-direction: column;
          gap: 10px;

          .dropdown-menu.show {
            top: 5px;
            display: flex;

            li {
              width: 100%;

              a {
                padding: 0;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      a {
        width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #455a64;
        height: 48px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.3s;
      }

      a.log {
        color: #455a64;
      }

      a.log:hover {
        background-color: #455a64;
        color: #fff;
      }

      a.sign {
        color: #fff;
        background-color: #455a64;
      }

      a.sign:hover {
        background-color: transparent;
        color: #455a64;
      }
    }

    .btn-primary {
      padding: 2px;
      border: 2px solid #455a64;
      transition: all 0.3s;
      display: none;
      background-color: #455a64;
      border-radius: 0;

      svg {
        transition: all 0.3s;

        path {
          transition: all 0.3s;
        }
      }
    }

    .btn-primary:hover {
      background-color: transparent;
      border-color: #455a64;

      svg path {
        fill: #455a64;
      }
    }

    #offcanvasRight {
      width: 270px;

      .btn-close {
        box-shadow: none;
      }

      .btn-close:focus {
        box-shadow: none;
      }

      .offcanvas-body {
        display: flex;
        flex-direction: column;
        gap: 50px;

        nav ul {
          flex-direction: column;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .d-flex {
      .btn-primary {
        display: flex;
      }

      nav,
      .links {
        display: none;
      }
    }

    .offcanvas-body {
      nav {
        display: block;
      }

      .links {
        display: flex;
      }
    }
  }
}

// #endregion HEADER

// #region HERO

.hero {
  padding: 112px 0 32px 0;

  .d-flex {
    @include d-flex(center, space-between, row, wrap);

    .item {
      @include d-flex(center, center, column, wrap);
      gap: 56px;
      max-width: 697px;

      .text {
        @include d-flex(center, center, column, wrap);
        gap: 24px;

        h1 {
          font-size: calc(30px + 1.5vw);
          font-weight: bold;
        }

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          font-size: calc(15px + 0.135vw);
        }
      }

      .links {
        @include d-flex(center, center, row, wrap);
        width: 100%;
        max-width: 360px;

        a {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          height: 50px;
          width: 100%;
          max-width: 180px;
          @include d-flex(center, center, row, wrap);
          transition: all 0.3s;
        }

        a.buy {
          border: 2px solid #455a64;
          background-color: #455a64;
          color: #fff;
        }

        a.buy:hover {
          background-color: transparent;
          color: #455a64;
        }

        a.rent {
          background: #dfd9d9cc;
          color: #000000b3;
          border: 2px solid #dfd9d9cc;
        }

        a.rent:hover {
          background-color: transparent;
          border: 2px solid #000000b3;
        }
      }
    }

    .col2 {
      max-width: 583px;

      .image {
        max-width: 583px;

        img {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1015px) {
    .d-flex {
      flex-direction: column;
      gap: 50px;

      .item {
        align-items: center;
        text-align: center;
      }
    }
  }
}

// #endregion HERO

// #region stats

.stats {
  padding: 80px 0;

  .text-headeng {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin-bottom: 48px;

    h2 {
      font-size: calc(25px + 0.8vw);
      font-style: normal;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .row {
    justify-content: center;
    row-gap: 30px;

    .item {
      min-width: 250px;
      @include d-flex(center, flex-start, row, wrap);
      gap: 16px;
      border: 1px solid var(--CoolGray-20, #dde1e6);
      padding: 16px;

      .text {
        h3 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
        }

        p {
          color: #697077;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }

    @media (max-width: 300px) {
      .item {
        @include d-flex(center, flex-start, column, wrap);
        text-align: center;
        width: 100%;
        max-width: 250px;
        min-width: auto;
      }
    }
  }
}

// #endregion stats

// #region cards

.cards {
  background: #f2f4f8;
  padding: 80px 0;

  .text {
    margin-bottom: 32px;
    @include d-flex(center, center, column, wrap);
    gap: 8px;

    h4 {
      color: #313131;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }

    h2 {
      font-size: calc(25px + 0.8vw);
      font-style: normal;
      font-weight: 700;
    }
  }

  .row {
    row-gap: 30px;
    justify-content: center;

    .item {
      padding: 24px;
      @include d-flex(center, center, center, wrap);
      gap: 16px;
      text-align: center;
      background: #fff;

      .img {
        @include d-flex(center, center, row, wrap);
        gap: 8px;

        h3 {
          color: #455a64;
          line-height: 100%;
        }
      }

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }

      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }

      h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

// #endregion cards

// #region blogs

.blogs {
  padding-bottom: 22px;

  .headeng {
    @include d-flex(center, space-between, row, wrap);
    gap: 25px;
    padding: 32px 0;

    h2 {
      color: #455a64;
      line-height: 100%;
    }

    a {
      color: #455a64;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .row {
    row-gap: 20px;

    .col-sm-6.col-md-4.col-xl-3 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .item {
      margin: auto;
      width: 100%;
      max-width: 305px;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
      }

      .text {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .headeng {
          padding: 0;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          text-align: left;
          gap: 8px;

          h5 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
          }

          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
        }

        .price {
          @include d-flex(center, space-between, row, wrap);

          h4 {
            color: #455a64;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
          }

          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;

            span {
              color: #bebfbf;
              margin-left: 5px;
            }
          }
        }

        a {
          width: 100%;
          height: 48px;
          @include d-flex(center, center, row, wrap);
          border: 1px solid #455a64;
          color: #455a64;
          line-height: 100%;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          transition: all 0.3s;
        }

        a:hover {
          background: #455a64;
          color: #fff;
        }

        @media (max-width: 295px) {
          .price {
            flex-direction: column;
            gap: 8px;
          }

          .headeng {
            align-items: center;
            text-align: center;
          }
        }

        @media (max-width: 373px) {
          .blogs .headeng {
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}

// #endregion blogs

// #region contact

.contact-us {
  padding: 32px 0;

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;

    h2 {
      color: #313131;
      line-height: 100%;
    }

    p {
      line-height: 120%;
      color: #21272a;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    a {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      height: 56px;
      width: 100%;
      max-width: 167px;
      @include d-flex(center, center, row, wrap);
      border: 2px solid #455a64;
      transition: all 0.3s;
    }

    a.contact {
      color: #fff;
      background-color: #455a64;
    }

    a.contact:hover {
      background-color: transparent;
      color: #455a64;
    }

    a.read {
      color: #455a64;
    }

    a.read:hover {
      background-color: #455a64;
      color: #fff;
    }
  }

  @media (max-width: 600px) {
    .text {
      text-align: center;
    }

    .links {
      justify-content: center;
    }
  }
}

// #endregion contact

// #region subscribe

.subscribe {
  padding: 80px 0;
  background: #f2f4f8;

  .d-flex {
    @include d-flex(center, space-between, row, wrap);
    gap: 40px;

    .text {
      gap: 12px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: calc(25px + 0.9vw);
        color: #21272a;
      }

      p {
        color: #21272a;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }

    form {
      display: flex;
      gap: 16px;
      width: 100%;
      max-width: 512px;
      align-items: center;

      input {
        width: 100%;
        max-width: 370px;
        height: 56px;
        padding: 16px;
        color: #455a64;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        border: 0.6px solid #455a64;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input:focus-visible {
        outline-offset: -2px;
        outline-width: 2px;
        outline-style: double;
        outline-color: #455a64;
      }

      button {
        display: flex;
        width: 100%;
        max-width: 126px;
        height: 56px;
        justify-content: center;
        align-items: center;
        background: #455a64;
        border: 2px solid #455a64;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        transition: all 0.3s;
      }

      button:hover {
        background: transparent;
        color: #455a64;
      }

      @media (max-width: 470px) {
        form {
          flex-direction: column;
        }

        form button {
          max-width: 370px;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .d-flex {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}

// #endregion subscribe

// #region FOOTER

footer {
  padding: 24px 0 48px 0;
  background: #455a64;
  @include d-flex(center, center, column, wrap);
  gap: 48px;

  .container {
    width: 100%;
  }

  .top-footer {
    width: 100%;

    .d-flex {
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 180px;
      }

      .text {
        @include d-flex(center, center, row, wrap);
        gap: 24px;

        a {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
        }
      }

      .icons {
        @include d-flex(center, center, row, wrap);
        gap: 16px;
      }
    }

    @media (max-width: 795px) {
      .d-flex {
        @include d-flex(center, center, column, wrap);
        gap: 30px;

        .logo {
          width: auto;
        }
      }
    }
  }

  .bottom-footer p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

// #endregion FOOTER
