@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./bootstrap.css);
@import url(./basics.css);
header {
  border-bottom: 1px solid #dde1e6;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}
header .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
}
header .d-flex .ul {
  display: flex;
  gap: 22px;
}
header .d-flex .ul a {
  color: rgba(69, 90, 100, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
header .d-flex .ul a:active {
  background: transparent;
  color: #455a64;
}
header .d-flex .ul .Active {
  color: #455a64;
}
header .d-flex .ul .dropdown-center button {
  padding: 0;
  line-height: 100%;
  background: transparent;
  color: rgba(69, 90, 100, 0.6);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
header .d-flex .ul .dropdown-center button:active {
  color: #455a64;
}
header .d-flex .ul .dropdown-center ul {
  min-width: 95px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
header .d-flex .ul .dropdown-center ul .dropdown-menu.show {
  top: 5px;
  display: flex;
}
header .d-flex .ul .dropdown-center ul .dropdown-menu.show li {
  width: 100%;
}
header .d-flex .ul .dropdown-center ul .dropdown-menu.show li a {
  padding: 0;
  width: 100%;
}
header .d-flex .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
header .d-flex .links a {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #455a64;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: all 0.3s;
}
header .d-flex .links a.log {
  color: #455a64;
}
header .d-flex .links a.log:hover {
  background-color: #455a64;
  color: #fff;
}
header .d-flex .links a.sign {
  color: #fff;
  background-color: #455a64;
}
header .d-flex .links a.sign:hover {
  background-color: transparent;
  color: #455a64;
}
header .d-flex .btn-primary {
  padding: 2px;
  border: 2px solid #455a64;
  transition: all 0.3s;
  display: none;
  background-color: #455a64;
  border-radius: 0;
}
header .d-flex .btn-primary svg {
  transition: all 0.3s;
}
header .d-flex .btn-primary svg path {
  transition: all 0.3s;
}
header .d-flex .btn-primary:hover {
  background-color: transparent;
  border-color: #455a64;
}
header .d-flex .btn-primary:hover svg path {
  fill: #455a64;
}
header .d-flex #offcanvasRight {
  width: 270px;
}
header .d-flex #offcanvasRight .btn-close {
  box-shadow: none;
}
header .d-flex #offcanvasRight .btn-close:focus {
  box-shadow: none;
}
header .d-flex #offcanvasRight .offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
header .d-flex #offcanvasRight .offcanvas-body nav ul {
  flex-direction: column;
}
@media (max-width: 800px) {
  header .d-flex .btn-primary {
    display: flex;
  }
  header .d-flex nav,
  header .d-flex .links {
    display: none;
  }
  header .offcanvas-body nav {
    display: block;
  }
  header .offcanvas-body .links {
    display: flex;
  }
}

.hero {
  padding: 112px 0 32px 0;
}
.hero .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero .d-flex .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 56px;
  max-width: 697px;
}
.hero .d-flex .item .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.hero .d-flex .item .text h1 {
  font-size: calc(30px + 1.5vw);
  font-weight: bold;
}
.hero .d-flex .item .text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: calc(15px + 0.135vw);
}
.hero .d-flex .item .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 360px;
}
.hero .d-flex .item .links a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 50px;
  width: 100%;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.hero .d-flex .item .links a.buy {
  border: 2px solid #455a64;
  background-color: #455a64;
  color: #fff;
}
.hero .d-flex .item .links a.buy:hover {
  background-color: transparent;
  color: #455a64;
}
.hero .d-flex .item .links a.rent {
  background: rgba(223, 217, 217, 0.8);
  color: rgba(0, 0, 0, 0.7019607843);
  border: 2px solid rgba(223, 217, 217, 0.8);
}
.hero .d-flex .item .links a.rent:hover {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7019607843);
}
.hero .d-flex .col2 {
  max-width: 583px;
}
.hero .d-flex .col2 .image {
  max-width: 583px;
}
.hero .d-flex .col2 .image img {
  width: 100%;
}
@media (max-width: 1015px) {
  .hero .d-flex {
    flex-direction: column;
    gap: 50px;
  }
  .hero .d-flex .item {
    align-items: center;
    text-align: center;
  }
}

.stats {
  padding: 80px 0;
}
.stats .text-headeng {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
  margin-bottom: 48px;
}
.stats .text-headeng h2 {
  font-size: calc(25px + 0.8vw);
  font-style: normal;
  font-weight: bold;
}
.stats .text-headeng p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.stats .row {
  justify-content: center;
  row-gap: 30px;
}
.stats .row .item {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  border: 1px solid var(--CoolGray-20, #dde1e6);
  padding: 16px;
}
.stats .row .item .text h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.stats .row .item .text p {
  color: #697077;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 300px) {
  .stats .row .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    max-width: 250px;
    min-width: auto;
  }
}

.cards {
  background: #f2f4f8;
  padding: 80px 0;
}
.cards .text {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.cards .text h4 {
  color: #313131;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.cards .text h2 {
  font-size: calc(25px + 0.8vw);
  font-style: normal;
  font-weight: 700;
}
.cards .row {
  row-gap: 30px;
  justify-content: center;
}
.cards .row .item {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  background: #fff;
}
.cards .row .item .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.cards .row .item .img h3 {
  color: #455a64;
  line-height: 100%;
}
.cards .row .item p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.cards .row .item h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.cards .row .item h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.blogs {
  padding-bottom: 22px;
}
.blogs .headeng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 32px 0;
}
.blogs .headeng h2 {
  color: #455a64;
  line-height: 100%;
}
.blogs .headeng a {
  color: #455a64;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.blogs .row {
  row-gap: 20px;
}
.blogs .row .col-sm-6.col-md-4.col-xl-3 {
  padding-left: 10px;
  padding-right: 10px;
}
.blogs .row .item {
  margin: auto;
  width: 100%;
  max-width: 305px;
  display: flex;
  flex-direction: column;
}
.blogs .row .item img {
  width: 100%;
}
.blogs .row .item .text {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blogs .row .item .text .headeng {
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}
.blogs .row .item .text .headeng h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.blogs .row .item .text .headeng p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.blogs .row .item .text .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.blogs .row .item .text .price h4 {
  color: #455a64;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.blogs .row .item .text .price p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.blogs .row .item .text .price p span {
  color: #bebfbf;
  margin-left: 5px;
}
.blogs .row .item .text a {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #455a64;
  color: #455a64;
  line-height: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  transition: all 0.3s;
}
.blogs .row .item .text a:hover {
  background: #455a64;
  color: #fff;
}
@media (max-width: 295px) {
  .blogs .row .item .text .price {
    flex-direction: column;
    gap: 8px;
  }
  .blogs .row .item .text .headeng {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 373px) {
  .blogs .row .item .text .blogs .headeng {
    justify-content: center;
    text-align: center;
  }
}

.contact-us {
  padding: 32px 0;
}
.contact-us .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.contact-us .text h2 {
  color: #313131;
  line-height: 100%;
}
.contact-us .text p {
  line-height: 120%;
  color: #21272a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.contact-us .links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.contact-us .links a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  height: 56px;
  width: 100%;
  max-width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #455a64;
  transition: all 0.3s;
}
.contact-us .links a.contact {
  color: #fff;
  background-color: #455a64;
}
.contact-us .links a.contact:hover {
  background-color: transparent;
  color: #455a64;
}
.contact-us .links a.read {
  color: #455a64;
}
.contact-us .links a.read:hover {
  background-color: #455a64;
  color: #fff;
}
@media (max-width: 600px) {
  .contact-us .text {
    text-align: center;
  }
  .contact-us .links {
    justify-content: center;
  }
}

.subscribe {
  padding: 80px 0;
  background: #f2f4f8;
}
.subscribe .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.subscribe .d-flex .text {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.subscribe .d-flex .text h2 {
  font-size: calc(25px + 0.9vw);
  color: #21272a;
}
.subscribe .d-flex .text p {
  color: #21272a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.subscribe .d-flex form {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 512px;
  align-items: center;
}
.subscribe .d-flex form input {
  width: 100%;
  max-width: 370px;
  height: 56px;
  padding: 16px;
  color: #455a64;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border: 0.6px solid #455a64;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe .d-flex form input:focus-visible {
  outline-offset: -2px;
  outline-width: 2px;
  outline-style: double;
  outline-color: #455a64;
}
.subscribe .d-flex form button {
  display: flex;
  width: 100%;
  max-width: 126px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: #455a64;
  border: 2px solid #455a64;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  transition: all 0.3s;
}
.subscribe .d-flex form button:hover {
  background: transparent;
  color: #455a64;
}
@media (max-width: 470px) {
  .subscribe .d-flex form form {
    flex-direction: column;
  }
  .subscribe .d-flex form form button {
    max-width: 370px;
  }
}
@media (max-width: 950px) {
  .subscribe .d-flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

footer {
  padding: 24px 0 48px 0;
  background: #455a64;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}
footer .container {
  width: 100%;
}
footer .top-footer {
  width: 100%;
}
footer .top-footer .d-flex {
  justify-content: space-between;
  align-items: center;
}
footer .top-footer .d-flex .logo {
  width: 180px;
}
footer .top-footer .d-flex .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
footer .top-footer .d-flex .text a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
footer .top-footer .d-flex .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 795px) {
  footer .top-footer .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
  footer .top-footer .d-flex .logo {
    width: auto;
  }
}
footer .bottom-footer p {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
